#SongDisplay {
  position: absolute;
  grid-column: 1 / span 2;
}

#sidebar {
  position: absolute;
  top: 500px;
  right: 25px;
  margin-bottom: 100px;
  margin-right: 15px;
  grid-column: 2;
}

#playbar {
  position: absolute;
  grid-column: 1 / span 2;
}

#container {
  display: grid;
  background-color: white;
  width: auto;

  grid-template-columns: 1, 200px;
}
