#SongDisplay {
  grid-column: 2;
}

#sidebar {
  grid-column: 2;
  justify-self: end;
}

#playbar {
  position: absolute;
  grid-column: 1 / span 2;
}

#container {
  display: grid;
  background-color: white;
  width: auto;

  grid-template-rows: 426, auto;
  grid-template-columns: auto, 1200, auto;
}

body {
  background-color: #ccc;
}
